{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <legend>Password Reset</legend>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        	<strong>Invalid Email</strong> Email is invalid.
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">Email:</label>

                        <div class="col-sm-10">
                            {% render_field form.email class+="form-control" place-holder="Your Email" %}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}