{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <legend>Change Password</legend>
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger">
                    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    	<strong>Password Error</strong> Password is invalid
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}" class="col-sm-2 control-label">Old Password:</label>

                    <div class="col-sm-10">
                        {% render_field form.old_password class+="form-control" %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}" class="col-sm-2 control-label">New Password:</label>

                    <div class="col-sm-10">
                        {% render_field form.new_password1 class+="form-control" %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}" class="col-sm-2 control-label">Confirm:</label>

                    <div class="col-sm-10">
                        {% render_field form.new_password2 class+="form-control" %}
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}